<h2>Text Modifier</h2>
<p>This is a component that is part of the application NgModule</p>
<h3>{{ componentText }}</h3>
<button type="button" (click)="alterTextWithRootService()">Alter Text With Root Service</button>
<button type="button" (click)="alterTextWithSubModuleService()">Alter Text With SubModule Service</button>
<button type="button" (click)="alterTextWithSubModuleAnyService()">Alter Text With SubModule Any Service</button>
<button type="button" (click)="alterTextWithLazyLoadToRootService()">Alter Text With LazyLoadToRoot Service</button>
<button type="button" (click)="resetText()">Reset Text</button>
